.container.quemnossomos{
    background-color: var(--darkgreen-color);
}

.quem-nossomos{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quem-nossomos h1{
    margin-top: 60px;
    margin-bottom: 0;
}

.quem-nossomos--text{
    color: var(--white-color);
    width: 50%;
    padding: 20px;
    text-align: center;
}

.quem-nossomos .botao{
    margin-bottom: 60px;
}

.container.boxs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.box img{
    padding-left: 25px;
    padding-top: 0;
    padding-right: 25px;
    padding-bottom: 25px;
    width: 300px;
    height: 150px;
    border: 10px double var(--darkgreen-color);
    border-top: none;
}

.box.center img{
    border-left: none;
    border-right: none;
}

.container.jobs .title.tjob{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-weight: 600;
    margin-top: 60px;
    font-size: 25px;
}

.cont-jobs{
    display: flex;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.job{
    border: 2px solid var(--darkgreen-color);
    padding: 8px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    border-radius: 12px;
}

.job img{
    width: 200px;
    height: 130px;
    border-radius: 12px;
}

.job-text .title{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-weight: 600;
}

.job-text p{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    max-width: 200px;
    color: var(--darkgreen-color);
}

.border{
    width: 100%;
    height: 12px;
    border: 1px solid var(--darkgreen-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

.circulo{
    display: flex;
}

.enfeite{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--lightgreen-color);
    margin-right: 3px;
}

.retangulo{
    width: 20px;
    height: 8px;
    border-radius: 2px;
    background-color: var(--lightgreen-color);
    margin-left: 5px;
}

.container.images{
    max-width: 1240px;
}

.container.images .title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 10px;
    font-size: 25px;
    margin-top: 40px;
}

.area-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid var(--darkgreen-color);
}

.cada-images img{
    width: 250px;
    height: 150px;
    margin: 10px;
    border: 3px solid var(--lightgreen-color);
}

.container.team{
    max-width: 1240px;
    margin-top: 60px;
}

.container.team .title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 10px;
    font-size: 25px;
    margin-top: 40px;
}

.ourteam{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.person img{
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.person.center img{
    height: 220px;
    width: auto;
}

.person-descripton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person-descripton h1{
    color: var(--lightgreen-color);
}

.person-descripton h3{
    color: var(--darkgreen-color);
}

@media(max-width:1090px){
    .box img{
        margin: 5px;
        margin-top: 0;
    }
    
    .box.center img{
        border: 10px double var(--darkgreen-color);
        border-top: none;
    }

    .box.last img{
        border: 10px double var(--darkgreen-color);
        padding-top: 25px;
    }
}

@media(max-width:759px){
    .box.center img{
        border: 10px double var(--darkgreen-color);
        padding-top: 25px;
    }
}

@media(max-width:373px){
    .container.boxs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box img{
        width: 70%;
        height: auto;
        padding: 5px;
    }
    .box.last img,
    .box.center img{
        padding-top: 5px;
    }

    .cada-images img{
        width: 80%;
        max-width: 200px;
        height: auto;
    }
}

@media (max-width:740px) {
    .ourteam{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }  
}